<!-- #region Header Nav -->
<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-4 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top text-bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/assets/brand/bootstrap-logo.svg" width="30" height="24">
                </a>
                <a class="navbar-brand" href="/">Notes App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link {{#if homeActive}}active{{/if}}" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link {{#if usersActive}}active{{/if}}" href="/user/all">Users</a></li>
                        <li class="nav-item"><a class="nav-link {{#if randomActive}}active{{/if}}" href="/note/random">Random</a></li>
                    </ul>

                    <!-- #region Search -->
                    <form class="p-2" role="search" data-bs-theme="dark">
                        <input class="form-control" type="search" placeholder="Search note..." aria-label="Search">
                        {{!-- <button class="btn btn-outline-success" type="submit">Search</button> --}}
                    </form>
                    <!-- #endregion Search -->

                    <!-- #region Profile -->
                    <div class="dropdown" style="padding-right: 20px !important;">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src={{loggedInUser.imageUrl}} width="30" height="30"> {{loggedInUser.displayName}}
                        </a>
                        <ul class="dropdown-menu" data-bs-theme="dark">
                            <li><a class="dropdown-item rounded-2" href="/user/profile">Profile</a></li>
                            <li><a class="dropdown-item rounded-2" href="/user/notes">My Notes</a></li>
                            <li><hr class="dropdown-divider rounded-2"></li>
                            <li><a class="dropdown-item rounded-2 active" href="/auth/logout">Log out</a></li>
                        </ul>
                    </div>
                    <!-- #endregion Profile -->
                </div>
            </div>
        </nav>
    </div>

    <div class="pricing-header p-5 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{pageTitle}}</h1>
        <p class="fs-5 text-body-secondary">{{pageText}}</p>
    </div>

</header>
<!-- #endregion Header Nav -->