<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes App</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        {{>header}}

        <!-- #region Page Content -->
        {{{body}}}
        <!-- #endregion Page Content -->

    </div>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>