<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{docTitle}}</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sign-in.css" rel="stylesheet">
</head>
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h2 mb-3 fw-normal pb-3">Log In</h1>

            <div class="form-floating pb-2">
                <input type="email" class="form-control" id="emailInput" placeholder="jon.snow@example.com" required="true">
                <label for="emailInput">Email address</label>
            </div>
            <div class="form-floating pb-2">
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" required="true">
                <label for="passwordInput">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
            
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <p class="text-muted"><a href="/forgot-password" class="text-muted text-decoration-none ms-1"><b>Forgot Password</b></a></p>
                </div>
                <div class="col-6 text-center">
                    <p class="text-muted"><a href="/signup" class="text-muted text-decoration-none ms-1"><b>Register Account</b></a></p>
                </div>
            </div>

            <div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>

        </form>

        <div class="row">
            <div class="col-md-12">
                <a class="w-100 btn btn-lg btn-primary btn-google" href="/auth/google">
                    <img src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" width="16" height="16"> Log in with Google
                </a>
            </div>
        </div>

        <p class="mt-5 mb-3 text-body-secondary"> <script>document.write(new Date().getFullYear())</script> © Note App </p>
    </main>
</body>
</html>