<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{docTitle}}</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sign-in.css" rel="stylesheet">
</head>
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" width="72" height="57">
            <h1 class="h2 mb-3 fw-normal pb-3">Sign Up</h1>

            <div class="form-floating pb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="Jon" required="true">
                <label for="floatingInput">First name</label>
            </div>
            <div class="form-floating pb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="Snow" required="true">
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating pb-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="jon.snow@example.com" required="true">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating pb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required="true">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating pb-2">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required="true">
                <label for="confirmPassword">Confirm Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="text-muted">Already have account? <a href="/login" class="text-muted text-decoration-none ms-1"><b>Log In</b></a></p>
                </div>
            </div>

            <div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>

        </form>

        <div class="row">
            <div class="col-md-12">
                <a class="w-100 btn btn-lg btn-primary btn-google" href="/auth/gooogle">
                    <img src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" width="16" height="16"> Sign up with Google
                </a>
            </div>
        </div>

        <p class="mt-5 mb-3 text-body-secondary"> <script>document.write(new Date().getFullYear())</script> © Note App </p>
        
    </main>
</body>
</html>